.bg-theme{
    background-color: #00d2ff;
  }

.about-image {
  width: 500px;
  height: 350px;
  border-radius: 8px;
}

@media (max-width: 992px) {
  .tablet-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: 20px;
  }
}